<header class="border-b shadow-md p-3 w-full">
  <div
    class="flex align-middle item-center justify-between max-w-screen-2xl mx-auto"
  >
    <img
      routerLink="/"
      src="/images/logo.png"
      alt="Shop logo"
      class="max-h-16"
    />
    <nav class="flex gap-3 my-2 uppercase text-2xl">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/shop" routerLinkActive="active">Contact</a>
      <a routerLink="/home" routerLinkActive="active">About</a>
    </nav>

    <div class="flex gap-3 align-middle">
      <a matBadge="5" matBadgeSize="large" class="custom-badge mt-2 mr-2">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button mat-stroked-button>login</button>
      <button mat-stroked-button>Register</button>
    </div>
  </div>
</header>
